<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExpressJS</title>
    <style>
        body { font-family: malgun gothic, serif; }
        * { margin: 0; padding: 0; }
        ul, li { list-style: none }
        input, button, textarea, select { vertical-align: middle; font-size: 13px; box-sizing: border-box; cursor: pointer }
        button[type="submit"] { background: #09F; }
        input { border: 1px solid #bebebe; height: 30px; border-radius: 3px; padding: 0 10px; }
        button { background: #aaa; color: #FFF; border: none; height: 30px; width: 60px; border-radius: 3px; }
        main { width: 1000px; margin: 0 auto }
        fieldset { border: none; }
        .btn { width: 100px; }

        #app > h1 { text-align: center; padding: 20px 0;}
        #app > form { border: 1px solid #ddd; padding: 30px; }
        #app > ul { border: 1px solid #ddd; padding: 30px; margin-top: 20px; background: #fefefe;}
        #app > ul li { display: flex; align-items: center; padding: 20px; border-bottom: 1px solid #ddd; }
        #app > ul li button { margin-left: 5px; }
    </style>
</head>
<body>

<div id="app">
    <h1>Insert Form</h1>
    <form name="modifyItem" action="/modifyItem?_method=put" method="post">
        <fieldset>
            <table>
                <tr>
                    <td width="100">아이템 번호</td>
                    <td>
                        <input type="text" name="seq" value="<%= item.seq %>" readonly>
                    </td>
                </tr>
                <tr>
                    <td width="70">내용</td>
                    <td>
                        <input type="text" name="content" size="40" value="<%= item.content %>">
                        <button type="submit" class="btn">수정하기</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </form>
</div>

</body>
</html>